body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* ทำให้วิดีโอครอบคลุมพื้นที่ทั้งหมด */
}
nav {
    background-color:  rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: auto;
    width: 40px; /* กำหนดความกว้างของรูปภาพ */
    margin-right: 10px;
    
}
.brand {
    text-align: left;
    font-size: 1.85rem;
    font-weight: bold;
    color: #000000;
    margin-right: auto;
}
.brand a {
    text-decoration: none;
    color: #000000;
}
.menu {
    display: flex;
    gap: 20px;
}
.menu a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    transition: color 0.3s;
    font-weight: bold;
}
.menu a:hover {
    color: rgb(0, 0, 0);
}
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }
    .menu a {
        display: block;
        padding: 10px;
    }
    .menu-btn {
        display: block;
    }
}

/* สำหรับหน้าจอขนาดใหญ่ */
.main {
    border-radius: 10px;
    text-align: center;
    margin: 10% 20%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.main-pic {
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

/* .main-pic img { */
    /* border-radius: 50%; */
/* } */

.main-info {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hi{
    display: inline-block;
    margin: 0;
    font-weight: bold;
    color: whitesmoke;
    font-size: 4rem;
}

.im {
    display: inline-block;
    margin: 3px;
    color: whitesmoke;
    font-size: 2.5rem;
}

.name {
    display: inline-block;
    margin: 4px;
    color: rgb(223, 97, 13);
    font-size: 4.5rem;
    animation: colorChange 5s infinite;
}
.hacker {
    display: inline-block;
    margin: 3px;
    color: rgb(223, 97, 13);
    font-size: 2.5rem;
    animation: colorChange2 5s infinite;
}

.info-lorem .info {
    display: inline-block;
    margin: 10px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

@keyframes colorChange {
    0% { color: rgb(223, 97, 13); }
    25% { color: rgb(255, 140, 0); }
    50% { color: rgb(255, 165, 0); }
    75% { color: rgb(255, 69, 0); }
    100% { color: rgb(223, 97, 13); }
}

@keyframes colorChange2 {
    0% { color: rgb(223, 97, 13); }
    25% { color: rgb(223, 97, 13); }
    50% { color: rgb(255, 140, 0); }
    75% { color: rgb(255, 165, 0); }
    100% { color: rgb(255, 69, 0); } 
}

/* สำหรับหน้าจอขนาดกลาง */
@media (max-width: 768px) {
    .main {
        margin: 5% 10%;
        height: auto;
        flex-direction: column;
    }

    .main-info {
        text-align: center;
        align-items: center;
    }

    .hi, .name {
        font-size: 3rem;
    }

    .im, .hacker {
        font-size: 2.5rem;
    }
}

/* สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 480px) {
    .main {
        margin: 5%;
        height: auto;
        flex-direction: column;
    }

    .main-info {
        text-align: center;
        align-items: center;
    }

    .hi, .name {
        font-size: 2rem;
    }

    .im, .hacker {
        font-size: 1.5rem;
    }
}

.btn-change-content button{
    background-color: rgb(223, 97, 13, 0.6) !important;
    color: whitesmoke !important;
    padding: 5px 10px !important;
    border-radius: 0px !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    transition: 0.3s !important;
}
.btn-change-content button:hover {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 69, 0) !important;
}
